:root {
  --white: #fff;
  --main-color: #640ef1;
  --color-1: #f1f4f5;
  --color-2: #080c2e;
  --color-3: #ff3232;
  --color-4: #5d5d7c;
  --color-5: #8d90a8;
  --color-6: #424560;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-1);
  font-weight: 500;
}

.font-clash-display {
  font-family: "ClashDisplay-Variable";
}

.container {
  width: 1130px;
  margin: 0 auto;
}

.outer-container {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.current-stroke {
  stroke: currentColor;
}

.current-fill {
  fill: currentColor;
}

a.primary {
  text-decoration: none;
}

a.primary,
button.primary {
  border-radius: 9999px;
  font-size: 18px;
  background-color: var(--main-color);
  padding: 16px 40px;
  color: var(--white);
}

a.tertiary {
  text-decoration: none;
}

a.tertiary,
button.tertiary {
  display: inline-flex;
  align-items: center;
  column-gap: 6px;
  color: var(--main-color);
}

.tag-type-1 {
  position: absolute;
  border-radius: 26px;
  display: flex;
  padding: 20px 25px;
  align-items: center;
  column-gap: 20px;
  background-color: var(--white);
}

.tag-type-1 svg {
  color: var(--main-color);
}

.tag-type-1>span {
  display: flex;
  flex-direction: column;
}

.tag-type-1>span>span:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-2);
}

.tag-type-1>span>span:nth-child(2) {
  color: var(--color-4);
}

.tag-type-1.top-left {
  top: -53px;
  left: -50px;
}

.tag-type-2 {
  border-radius: 26px;
  display: flex;
  padding: 20px 25px;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  background-color: var(--white);
}

.tag-type-2 svg {
  color: var(--main-color);
}

.tag-type-2>span {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tag-type-2>span>span:nth-child(1) {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-2);
}

.tag-type-2>span>span:nth-child(2) {
  color: var(--color-4);
}

.tag-type-2.bottom-right {
  bottom: 30px;
  right: -50px;
}

.tag-type-3 {
  border-radius: 9999px;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--main-color);
}

.tag-type-3.top-right {
  top: 43px;
  right: -43px;
}

.text-center {
  text-align: center;
}

section h2.title {
  font-size: 46px;
  font-weight: 600;
  font-family: "ClashDisplay-Variable";
}

section:not(.bg-main) h2.title {
  color: var(--color-2);
}

/* HEADER */
header.main-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin: 0 auto;
}

header.main-header .wrapper .logo {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

header.main-header .wrapper .logo span {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-2);
}

header.main-header .wrapper .logo svg path.leaf {
  fill: var(--main-color);
}

header.main-header .wrapper ul {
  display: flex;
  list-style: none;
}

header.main-header .wrapper ul.main-menu {
  column-gap: 30px;
}

header.main-header .wrapper ul li a {
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
  color: var(--color-2);
  text-decoration: none;
}

header.main-header .wrapper ul.main-menu li.has-dropdown a span.arrow {
  width: 8px;
  aspect-ratio: 1/1;
  border-right: 1px solid var(--color-2);
  border-bottom: 1px solid var(--color-2);
  position: relative;
  transform: translateY(-2px) rotate(45deg);
}

header.main-header .wrapper ul.cta {
  column-gap: 10px;
}

header.main-header .wrapper ul.cta li a {
  background-color: var(--white);
  border-radius: 9999px;
}

header.main-header .wrapper ul.cta li a.bag {
  padding: 10px;
  position: relative;
}

header.main-header .wrapper ul.cta li a.bag span.notification {
  top: 11px;
  right: 11px;
  border-radius: 9999px;
  background-color: var(--color-3);
  display: block;
  position: absolute;
  width: 8px;
  aspect-ratio: 1/1;
}

header.main-header .wrapper ul.cta li a.secondary {
  padding: 10px 30px;
  background-color: var(--color-2);
  color: var(--color-1);
}

/* end HEADER */

/* HERO */
section.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.hero .content-left {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

section.hero .content-left .pill {
  padding: 8px 16px;
  display: inline-flex;
  column-gap: 6px;
  color: var(--color-2);
  border-radius: 9999px;
  background-color: var(--white);
}

section.hero .content-left .pill .text {
  font-weight: 600;
}

section.hero .content-left h1 {
  font-weight: 600;
  font-size: 70px;
  line-height: 1em;
  color: var(--color-2);
}

section.hero .content-left h2 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  color: var(--color-4);
  max-width: 75%;
}

section.hero .content-left .cta {
  display: flex;
  column-gap: 20px;
}

section.hero .content-right figure {
  position: relative;
}

section.hero .content-right figure img {
  border-radius: 0 70px 70px 70px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end HERO */

/* CLIENTS */
ul.clients {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  list-style-type: none;
  cursor: pointer;
}

ul.clients li {
  color: var(--color-2);
  transition: color 0.15s ease-in-out;
}

ul.clients li:hover {
  color: var(--main-color);
}

/* end CLIENTS */

/* CARD */
.card {
  display: flex;
  column-gap: 30px;
}

.card .card-child {
  padding: 30px 24px;
  background-color: var(--white);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  position: relative;
  transition: all 0.15s ease-in-out;
}

.card .card-child::before{
  position: absolute;
  content: "";
  width: 64px;
  height: 150px;
  background-color: var(--color-6);
  filter: blur(30px);
  top: 30px;
  right: 70px;
  opacity: 0;
  transform: rotate(30deg);
  transition: opacity 0.15s ease-in-out;
  z-index: 1;
}

.card .card-child:hover::before {
  opacity: 1;
}


.card .card-child:hover {
  background-color: var(--color-2);
  color: var(--white);
}

.card .card-child:hover > span h3{
  color: inherit;
}

.card .card-child:hover > span span{
  color: var(--color-5 );
}

.card .card-child:not(:hover){
  color: var(--main-color);
}

.card .card-child:hover a {
  color: inherit;
}

.card .card-child.has-link a::after {
  position: absolute;
  content: "";
  z-index: 2;
  inset: 0;
}

.card .card-child svg {
  color: inherit;
}

.card .card-child>span {
  position: relative;
  z-index: 2;
}

.card .card-child>span h3 {
  color: var(--color-2);
  font-size: 22px;
  font-weight: 700;
}

.card .card-child>span span {
  color: var(--color-4);
}

/* end CARD */

/* STATISTICS */
section.statistics {
  display: flex;
  column-gap: 70px;
}
section.statistics .content-left figure{
  position: relative;
}
section.statistics .content-left figure img{
  border-radius: 0 70px 70px 70px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end STATISTICS */