:root {
  --white: #fff;
  --main-color: #640ef1;
  --color-1: #f1f4f5;
  --color-2: #080c2e;
  --color-3: #ff3232;
  --color-4: #5d5d7c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-1);
  font-weight: 500;
}

.font-clash-display {
  font-family: "ClashDisplay-Variable";
}

.container {
  width: 1130px;
  margin: 0 auto;
}

.outer-container {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

.current-stroke {
  stroke: currentColor;
}

a.primary{
  text-decoration: none;
}

a.primary, button.primary{
  border-radius: 9999px;
  font-size: 18px;
  background-color: var(--main-color);
  padding: 16px 40px;
  color: var(--white);
}

a.tertiary{
  text-decoration: none;
}

a.tertiary, button.tertiary{
  display: inline-flex;
  align-items: center;
  column-gap: 6px ;
  padding: 16px 40px;
  color: var(--main-color);
}

/* HEADER */
header.main-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin: 0 auto;
}

header.main-header .wrapper .logo {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

header.main-header .wrapper .logo span {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-2);
}

header.main-header .wrapper .logo svg path.leaf {
  fill: var(--main-color);
}

header.main-header .wrapper ul {
  display: flex;
  list-style: none;
}

header.main-header .wrapper ul.main-menu {
  column-gap: 30px;
}

header.main-header .wrapper ul li a {
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
  color: var(--color-2);
  text-decoration: none;
}

header.main-header .wrapper ul.main-menu li.has-dropdown a span.arrow {
  width: 8px;
  aspect-ratio: 1/1;
  border-right: 1px solid var(--color-2);
  border-bottom: 1px solid var(--color-2);
  position: relative;
  transform: translateY(-2px) rotate(45deg);
}

header.main-header .wrapper ul.cta {
  column-gap: 10px;
}

header.main-header .wrapper ul.cta li a {
  background-color: var(--white);
  border-radius: 9999px;
}

header.main-header .wrapper ul.cta li a.bag {
  padding: 10px;
  position: relative;
}

header.main-header .wrapper ul.cta li a.bag span.notification {
  top: 11px;
  right: 11px;
  border-radius: 9999px;
  background-color: var(--color-3);
  display: block;
  position: absolute;
  width: 8px;
  aspect-ratio: 1/1;
}

header.main-header .wrapper ul.cta li a.secondary {
  padding: 10px 30px;
  background-color: var(--color-2);
  color: var(--color-1);
}
/* end HEADER */

/* HERO */
section.hero{
  display: flex;
}

section.hero .content-left{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

section.hero .content-left .pill{
  padding: 8px 16px;
  display: inline-flex;
  column-gap: 6px;
  color: var(--color-2);
  border-radius: 9999px;
  background-color: var(--white);
}

section.hero .content-left .pill .text{
  font-weight: 600;
}

section.hero .content-left h1{
  font-weight: 600;
  font-size: 70px;
  line-height: 1em;
  color: var(--color-2);
}

section.hero .content-left h2{
  font-weight: 500;
  font-size: 1rem;
  line-height: 2rem;
  color: var(--color-4);
  max-width: 75%;
}

section.hero .content-left .cta{
  display: flex;
  column-gap: 20px;
}

/* end HERO */